// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Puzzlend Color Palette
$blue1: #23B1DA;
$red1: #F71C0C;
$darkblue: #3B4A6A;
$yellow1: #EFD43B;
$green: #44AC96;
$cream: #FDF5DA;
