<div class="home-banner">
  <div class="header">
    <h1>Welcome to Puzzlend</h1>
      <h2 class="subheader">Find your next challenge!</h2>
      <p><%= link_to "All the Puzzles", puzzles_path, class: "puzzle-button" %></p>
  </div>
</div>
