<div class="home-banner">
  <div class="header">
    <h1>PUZZLEND</h1>
      <h2 class="subheader">Join the piece-ful community</h2>
      <p><%= link_to "View Puzzles", puzzles_path, class: "puzzle-button" %></p>
  </div>
</div>
