.card-new {
  color: #3B4A6A;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  margin: 10px 10px;
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .card-product-infos {
    padding: 16px;
  }

}

.card-trip {
  overflow: hidden;
  background: white;
  height: 100%;
  h2 {
    padding-top : 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    opacity: .7;
    margin: 0;
    padding: 4px 0;
  }
}

.card-trip > img {
  height: 200px;
  object-fit: cover;
  margin: auto 0;
}

.card-trip .card-trip-infos {
  h2 {
    font-size: 18px;
  }
}

.card-trip-infos {
  .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  }
  p {
    font-size: 18px;
  }
}
