.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
}

.nav-item {
  border-radius: 1em;
  padding: 12px;
  margin: 5px;
}

h1{
  text-align: center;
}

.burger {
  font-size : 24px;
}

.search-bar {
  width : 40%;
}
