.navbar-lewagon {
  justify-content: space-between;
  background-color: #FDF5DA;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 75px;
}

.nav-item {
  background-color: #EFD43B;
  border-radius: 1em;
  margin: 5px;
}

h1{
  text-align: center;
}
