<h1>All our puzzles</h1>

<% @puzzles.each do |puzzle| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <section>
      <div class="card-product-infos">
        <div>
          <h2>
            Name: <%= link_to puzzle.name, puzzle_path(puzzle) %>
          </h2>
          <p>
            Description: <%= puzzle.description %>
          </p>
          <p>
            Price: <%= puzzle.price %>
          </p>
        </div>
      </div>
    </section>
  </div>
<% end %>

<section>
  <%= link_to "Add New Puzzle", new_puzzle_path, class: "btn btn-gradient" %>
</section>
