
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="width:100% />
  <div class="card-trip-infos">
    <div>
      <h2><%= @puzzle.name %></h2>
      <p><%= @puzzle.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= @puzzle.price %></h2>
  </div>
</div>

<p><%= link_to 'Back to Puzzles', puzzles_path, class: "btn btn-gradient" %> </p>
